.btn-primary {
  color: #FFFFFF;
  font-family: $font-montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  padding: 15px 20px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: none;
  border-radius: 22px;
  outline: none;
  cursor: pointer;
  &:hover, &:focus {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0.5;
  }
}

.btn-second {
  color: $color-purple;
  font-family: $font-montserrat;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  padding: 13px 18px;
  border-radius: 22px;
  outline: none;
  background: #FFFFFF;
  background:
          linear-gradient(#fff,#fff) padding-box,
          linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) border-box;
  border: 2px solid transparent;
  display:inline-block;
  cursor: pointer;
  &:hover, &:focus {
    background:
            linear-gradient(#fff,#fff) padding-box,
            linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%) border-box;
  }
}

.btn-link {
  font-family: $font-montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: $color-purple;
  text-transform: uppercase;
  border: none;
  background: transparent;
  cursor: pointer;
  &:hover, &:focus {
    color: $color-shade-50;
  }
}

.btn-wide {
  color: #FFFFFF;
  font-family: $font-montserrat;
  font-weight: bold;
  font-size: 12px;
  width: 100%;
  display: inline-block;
  line-height: 15px;
  text-transform: uppercase;
  padding: 15px 40px 15px 20px;
  border: none;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  cursor: pointer;
  position: relative;
  i {
    right: 10px;
    position: absolute;
    top: 10px;
  }
  &:hover, &:focus {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0.5;
  }
}