$bg-color: pink;
$color-shade-100: #1f2041;
$color-shade-75: rgba($color-shade-100, .75);
$color-shade-50: rgba($color-shade-100, .5);
$color-shade-25: rgba($color-shade-100, .25);
$color-shade-5: rgba($color-shade-100, .05);
$color-purple: #bc9cff;
$color-green: #6fcf97;

$font-quicksand: 'Quicksand', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;